# REQUIRED VARIABLE
DATABASE_URL=
JWT_SECRET=
BYPASSEXPLICITCONTENTACCOUNT=

# OAUTH GOOGLE
GOOGLE_CLIEND_ID=
GOOGLE_CLIENT_SECRET=

# ORBIT STATION SSO
ORBIT_URL=
ORBIT_CLIENT_ID=
ORBIT_CLIENT_SECRET=
ORBIT_REDIRECT_URI=