@import "tailwindcss";
/* src/input.css */
/* Aturan dasar untuk overlay, selalu transparan di awal */
.gallery-item .overlay {
    @apply opacity-0 transition-opacity duration-300;
}

/* ATURAN HOVER - HANYA BERLAKU DI PERANGKAT DENGAN MOUSE (DESKTOP) */
@media (hover: hover) {
    .gallery-item:hover .overlay {
        @apply opacity-100;
    }
}

/* ATURAN TAP - HANYA BERLAKU SAAT JS MENAMBAHKAN CLASS INI DI MOBILE */
.gallery-item.mobile-active .overlay {
    @apply opacity-100 pointer-events-auto;
}
